@model List<Urun>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ürün Ad</th>
            <th>Kategori</th>
            <th>Miktar</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.UrunAd</td>
                <td>@urun.KategoriAd</td>
                <td>@urun.Miktar</td>
                <td><a href="@Url.Action("SatinAl","Home",new {urun_id=urun.UrunId})" class="btn btn-success">Satın Al</a></td>
            </tr>
        }
    </tbody>
</table>

