@{
    ViewData["Title"] = "SatisTamam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1> ürünü alma talebiniz iletilmiştir mail adresinize dönüş yapılacaktır</h1>

</div>

